body{
    font-family: fantasy;
    color: gold;
}  
  
  
  
  image{
    
    height: 50px;
    width: 40px;
    
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color:cornflowerblue;
}